<section class="features">
  <div class="container">

    <div class="feature">
      <div class="icon">
        <img src="img/browsersupport-icon.svg" alt="Browser Support" />
      </div>
      <div class="text">
        <h3 class="title">Browser<br>suport</h3>
        <span class="subtext">Autoprefixer</span>
      </div>
    </div>

    <div class="feature">
      <div class="icon">
        <img src="img/livereload-icon.svg" alt="Browser Support" />
      </div>
      <div class="text">
        <h3 class="title">Live<br>reloading</h3>
        <span class="subtext">Browsersync</span>
      </div>
    </div>

    <div class="feature">
      <div class="icon">
        <img src="img/jstools-icon.svg" alt="Browser Support" />
      </div>
      <div class="text">
        <h3 class="title">Javascript<br>tools</h3>
        <span class="subtext">Babel, ES6+</span>
      </div>
    </div>

    <div class="feature">
      <div class="icon">
        <img src="img/assetoptimization-icon.svg" alt="Browser Support" />
      </div>
      <div class="text">
        <h3 class="title">Asset<br>optimization</h3>
        <span class="subtext">imagemin, svgo</span>
      </div>
    </div>

  </div>
</section>
