  <section class="footer">
    <div class="container">
      <div class="docs">
        <h3>How to get started</h3>
        <p>
          A guide on why and how to use CSS for your modern
          web development workflow.
        </p>
        <button class="button secondary">Get started</button>
      </div>
      <div class="contribute">
        <h3>Contribute</h3>
        <p>
          This project is growing and we would love some help
          to make it even better.
        </p>
        <button class="button secondary">Github repo</button>
      </div>
    </div>
  </section>

  <script src="{{ "/js/scripts.min.js" | relative_url }}"></script>
  </body>
</html>
